* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: inline-start;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  text-align: center;
  color: whitesmoke;
  background-color: #000000;
  padding: 10px;
}

/* Style the footer */
.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 5%;
  width: 100%;
  color: rgb(10, 10, 10);
  background-color: #333;
  text-align: center;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/*Pilot Profile Cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 3.2vw
  color: rgb(255, 255, 255);
}

button:hover, a:hover {
  opacity: 0.7;
}

.carousel-inner > .carousel-item > img {
  width:640px;
  height: 720px;
}
